
/* HEADER */
body {
    font-family: 'Raleway', sans-serif;
}

h4 {
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 30px;
    margin-right: 20px;
    padding: auto;
}

.xcolor {
    color: #ffcc00;
}

.containerhero {
    position: relative;
}

/* NAV SECTION */
nav {
    font-size: small;
    position: absolute;
    top: 20px;
    right: 0px;
}

a:link {
    text-decoration: none; 
    color: #333;
}

a:visited {
    text-decoration: none;
    color: #333;
}
  
a:hover {
    text-decoration: none;
    background-color: #ffcc00;
    padding: 2px;
}
  
a:active {
    text-decoration: none;
}

/* END OF NAV SECTION */
/* END OF HEADER */

.containerinfo {
    background-color: rgb(255, 255, 255);
}

/* START OF ABOUT ME SECTION */
.amtitle {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    background-color: rgb(255, 255, 255);
}

.bio {
    background-color: rgb(255, 255, 255);
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

/* START OF ABOUT ME PHOTO SECTION */
.ampix {
    background-color: rgb(255, 255, 255);    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    filter: grayscale(100%);
}

.ampix:hover {
    filter: grayscale(0%);
    filter: rgb(211, 209, 209);
    filter: none;
}

.ampix p {
    padding-right: 30%;
    display: flexbox;
    flex-wrap: wrap;
    max-width: 200px;
    padding-top: 2%;
    font-weight: bold;
    font-size: smaller;
    line-height: 23px;
}

/* END OF PHOTO SECTION */
/* START OF RESUME SECTION */
.button {
    background-color: #ffcc00; 
    border: none;
    color: white;
    padding: 5px 10px 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #ffffff;
}
  
.button4:hover {
    background-color: #ffcc00;
    font-style: oblique;
}

/* END OF RESUME SECTION */
/* END OF ABOUT ME SECTION */

/* START OF TITLE SECTION */
.clist, .contactform, .proj {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    padding-bottom: 59px;
}
/* END OF TITLE SECTION */

/* START OF CLIENTS SECTION */
.clients {
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    padding-bottom: 59px;
}

.clogo {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}

/* END OF CLIENTS SECTION */
/* START OF PROJECTS SECTION */
.work {
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    padding-bottom: 29px; 
}

.projport {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.linkedin {
    font-size: 9px;
    position: absolute;
    top: 20px;
    right: 0px;
}

/* END OF PROJECT SECTION */
/* START OF FORM SECTION */
.form {
    padding-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

#name, input[type=text] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: solid 2px #ffcc00;
    border-top: none;
    border-left: none;
    border-right: none;
}

#email, input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: solid 2px #ffcc00;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type=submit] {
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #333;
}

.clickproj:hover {
    cursor: pointer;
    background-color: ghostwhite;
}



/* END OF FORM SECTION */


/* -----Media Query------ */

    /* Tablets */
    @media screen and (max-width: 992px) {
        nav { 
        background-color: #ffcc00;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        }
    
        nav:hover {
        text-decoration: none;
        background-color: #ffffff;
        padding: 2px;
        }
    
        .ampix, .p {
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        margin: auto;           
        }


        .clogo, .projport {
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        margin: auto;     
        } 
    }

    /* Large smartphones */
    @media screen and (max-width: 768px) {
        nav {
        background-color: #ffcc00;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        }

        nav:hover {
        text-decoration: none;
        background-color: #ffffff;
        padding: 2px;
        }

        .ampix, p {
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        margin: auto;   
        }

        .clogo, .projport {
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        position: relative;  
        margin: auto;     
        } 
        }

    /* Small smartphones */
    @media screen and (max-width: 576px) {
        nav {
        background-color: #ffcc00;
        flex-direction: column;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        }
    
        nav:hover {
        text-decoration: none;
        background-color: #ffffff;
        padding: 2px;
        }
    
        .ampix, p {
        background-color: #ffffff;
        flex-direction: column;
        flex-flow: wrap;
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        width: 280px;
        }

        .clogo, .projport {
        background-color: #ffffff;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        position: relative;  
        margin: auto;     
        } 
    }



    /* -----End of Media Query------ */